html,
body,
#root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.content {
  margin: 0;
  height: 100%;
  background-color: var(--ghv-secondary-color);
  color: var(--ghv-primary-color);
  font-size: var(--ghv-font-size);
}
.footer {
  background-color: var(--ghv-secondary-color);
  padding: 0.25rem 0.5rem;
}
.app-title {
  font-family: GHVFont !important;
  font-size: 2.5rem;
  font-style: italic;
  color: #893c03;
  margin: 0 1rem;
}
.p-tabmenu-nav,
.p-tabmenu-nav a {
  background-color: var(--ghv-primary-color);
  color: var(--ghv-secondary-color);
}
.p-tabmenu .p-highlight {
  font-weight: bold;
}
